@using Core.Domain.Enums
@model StudentRegisterModel
@{
    Layout = "_CenteredLayout";
    ViewBag.Title = "Registreren";
}

<div class="col-12 --form-holder">
    <div class="--form-title">
        <h2>Registreren</h2>
        <p>Student</p>
    </div>

    <div class="--form-content-holder">
        <form asp-action="RegisterStudent" asp-controller="Account" method="post">
            <div class="form-group">
                <label asp-for="FirstName"></label>
                <div><span asp-validation-for="FirstName" class="text-danger"></span></div>
                <input asp-for="FirstName" class="form-control --input" />
            </div>
            <div class="form-group">
                <label asp-for="LastName"></label>
                <div><span asp-validation-for="LastName" class="text-danger"></span></div>
                <input asp-for="LastName" class="form-control --input" />
            </div>
            <div class="form-group">
                <label asp-for="DateOfBirth"></label>
                <div><span asp-validation-for="DateOfBirth" class="text-danger"></span></div>
                <input type="date" asp-for="DateOfBirth" class="form-control --input" />
            </div>
            <div class="form-group">
                <label asp-for="StudentNumber"></label>
                <div><span asp-validation-for="StudentNumber" class="text-danger"></span></div>
                <input asp-for="StudentNumber" class="form-control --input" />
            </div>
            <div class="form-group">
                <label asp-for="EmailAddress"></label>
                <div><span asp-validation-for="EmailAddress" class="text-danger"></span></div>
                <input asp-for="EmailAddress" class="form-control --input" />
            </div>
            <div class="form-group">
                <label asp-for="StudyCity"></label>
                <div><span asp-validation-for="StudyCity" class="text-danger"></span></div>
                <select asp-for="StudyCity" class="form-control --input" asp-items="Html.GetEnumSelectList<CityEnum>()">
                    <option>Selecteer</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber"></label>
                <div><span asp-validation-for="PhoneNumber" class="text-danger"></span></div>
                <input asp-for="PhoneNumber" class="form-control --input" />
            </div>
            <div class="form-group">
                <label asp-for="Password"></label>
                <div><span asp-validation-for="Password" class="text-danger"></span></div>
                <input type="password" asp-for="Password" class="form-control --input" />
            </div>
            <button class="--main-btn" style="margin-top:15px;" type="submit">Account aanmaken</button>

            <p class="--form-footer-text">Heb je al een account? Klik <a class="--text-link" asp-action="Login" asp-controller="Account">hier</a> om in te loggen</p>
        </form>
    </div>
</div>
