@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">
            @if(ViewBag.Role == "Student") {

            } else if(ViewBag.Role == "CanteenEmployee") {

            } else {

            }
    </h1>
</div>
