@{
    ViewData["Title"] = "Home";
    ViewBag.CurrentPage = "Home";

    var role = this.User.GetRole();

}

@if (role == "Student")
{
    @role
}
else if (ViewBag.Role == "CanteenEmployee")
{
    @role
}
else
{
    <section class="text-center">
        <h1 class="--header-main --home-hero-section">Welkom op Avans Too Good To Go</h1>
        <h2 class="--header-sub-main">Maak snel een account aan!</h2>
        <div class="--home-btn-holder">
            <a class="--main-btn" asp-action="RegisterStudent" asp-controller="Account">Student</a>
            <a class="--main-btn" asp-action="RegisterCanteenEmployee" asp-controller="Account">Kantinemedewerker</a>
        </div>
        <p>Heb je al een account? Klik <a class="--text-link" asp-action="Login" asp-controller="Account">hier</a> om in te loggen</p>
    </section>
}
